body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}
/*  TTWanjudaedunsancheB,-apple-system, BlinkMacSystemFont, */
*{
  box-sizing: border-box;
}

@font-face {
    font-family: 'ChosunGu';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGu.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TTWanjudaedunsancheB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/TTWanjudaedunsancheB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.react-datepicker-popper {
    z-index: 99 !important;
}
.saturday{
  color:blue;
}
.sunday{
  color:red;
}
.ReactModal__Overlay {
    z-index: 100;
}
.ReactModal__Overlay--after-open {
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.55)  !important;
}

li {
    list-style: none;
}
#toast-container-main{
    position: fixed;
    top: 0px;
    right: 0px;
    min-width: 500px;
    z-index: 9999999;
}

.react-confirm-alert-overlay{
  z-index:1000 !important;
  background: rgba(0, 0, 0, 0.7) !important;
}

.CSM_User_Input_Alert > .react-confirm-alert{
  width: 60%;
}